.ipynb_checkpoints
__pycache__
archive/
data/NCPacFeats/
TODO

ash/
ils/
symmol/
data/
dataPreprocOutputs/

FIGURES/

metal-nanoparticle-surface-atoms-clustering-exploratory-data-analysis.ipynb
metal-nanoparticle-surface-atoms-clustering-miscellaneous.ipynb
