.ipynb_checkpoints
__pycache__
archive/
data/NCPacFeats/*
dataPreprocOutputs/*
TODO

ash/
FIGURES/*/*.png
FIGURES/*/*.xyz
FIGURES/ILSclust/snapshots/*.png

metal-nanoparticle-surface-atoms-clustering-exploratory-data-analysis.ipynb
metal-nanoparticle-surface-atoms-clustering-miscellaneous.ipynb
